body,
html,
#root,
.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente */
  position: relative;
}

.mask-container {
  width: 100%;
  display: flex;
  justify-content: center; /* centraliza a máscara */
  margin-top: 60px; /* empurra a máscara pra baixo */
}

.conteudo {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -300px; /* sobe o conteúdo sobre a máscara */
}
.conteudo h1 {
  font-family: Arial, sans-serif;
  color: #333333;
  margin-bottom: 20px;
}
.conteudo h2 {
  font-family: Arial, sans-serif;
  color: #333333;
  margin-bottom: 40px;
}
.conteudo h2 strong {
  color: #000000c8;
}
.h3-container {
  display: flex; /* texto + botão na mesma linha */
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  gap: 10px; /* espaço entre h3 e botão */
}

.h3-container h3 {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #07a0ce;
  font: bold;
}

.h3-container button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  background: #07a0ce;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.imagem-final {
  margin-top: 120px;
  text-align: left;
  margin-left: 100px;
}

.imagem-final img {
  width: 30%;
  height: auto;
  object-fit: cover;
}
